@import url('https://fonts.googleapis.com/css?family=Bitter');

* {
    /* border: 1px solid red; */
}

:root {
    --font: 'Bitter', serif;
    --title-size: 24px;
    --sub-size: 18px;
}

.title {
    margin: 4px;
    font-family: var(--font);
    font-size: var(--title-size);
    color: #f3f3f3;
}

.container {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.progress {
    display: inline-block;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-image: linear-gradient(black, black), url("https://i.imgur.com/49VF6u0.png");
    background-size: cover;
    background-blend-mode: saturation;
    background-size: 400px auto;
  	border: 2px solid white;
}

.bar {
    border-radius: 20px;
    width: 0%;
    height: 100%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}

.shadow {
    /* 25 50 */
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25); 
}

.overlap {
    background-color: #ffadff;
    background-image: url("https://i.imgur.com/49VF6u0.png");
    background-size: 400px auto;
}
